@model BasicItem

@{ var deleteIcon = Icon.trash}

@section subheader
{
    <h1>
        @Html.DisplayBackButton(Url.Action(nameof(DataDefinitionController.Detail), new { id = Model.Id }))
        Delete Data Definition
    </h1>
}
<div class="card">
    <div class="card-header">
        Item Detail
    </div>
    <div class="card-body">
        @Html.DisplayForModel()
    </div>
    <div class="card-footer">
        @Html.BeginForm()
        @Html.HiddenFor(item => item.Id)
        <button class="btn btn-danger" type="submit">@Html.DisplayFor(_  => deleteIcon) Delete</button>
        @Html.BeginForm()
    </div>
</div>
