@page "/datadefinition"
@using AdminPortal.Entities
@inject HttpClient Http
@inject IApplicationConfiguration config
@inject IUriHelper UriHelper

<div class="card">
    <div class="card-header">
        <h1>
            <navlink class="btn btn-primary" href="datadefinition/add"><Icon IconName="@IconName.plus"></Icon> Add</navlink>
            Manage Data Definitions
        </h1>
    </div>
    <div class="card-body">
        <div class="list-group">
            <div class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div class="col-3">Name</div>
                        <div class="col">Description</div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            @if (loading)
            {
                <loading />
            }
            else if (dataDefinitions?.Any() == true)
            {
                    @foreach (var dataDefinition in dataDefinitions ?? Enumerable.Empty<DataDefinition>())
                    {

                        <a onclick="@(() => Detail(dataDefinition))" class="list-group-item list-group-item-action">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">@dataDefinition.Name</div>
                                    <div class="col">@dataDefinition.Description</div>
                                    <div class="col-1"><icon IconName="@IconName.chevron_right"></icon></div>
                                </div>
                            </div>
                        </a>
                    }
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <div class="h2">
                        No items to display.
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@functions {

    private bool loading = true;

    private DataDefinition[] dataDefinitions;

    protected override async Task OnInitAsync()
    {
        dataDefinitions = await Http.GetJsonAsync<DataDefinition[]>($"{config.ApiUrl}/datadefinition");
        loading = false;
    }

    private void Detail(DataDefinition dataDefinition)
    {
        UriHelper.NavigateTo($"/datadefinition/{dataDefinition.Id}");
    }
}
